[submodule "vim/vim/bundle/fugitive"]
	path = vim/vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/vim/bundle/ctrlp"]
	path = vim/vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/vim/bundle/minibufexplorer"]
	path = vim/vim/bundle/minibufexplorer
	url = https://github.com/fholgado/minibufexpl.vim.git
[submodule "vim/vim/bundle/tagbar"]
	path = vim/vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "vim/vim/bundle/sqlcomplete"]
	path = vim/vim/bundle/sqlcomplete
	url = https://github.com/vim-scripts/SQLComplete.vim.git
[submodule "vim/vim/bundle/nerdtree"]
	path = vim/vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
